@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #E1D4C9;
}

h1 {
    font-family: Inter;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    color: #403F3D;
}

h2 {
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 75px */
    color: #403F3D;
}

span {
    color: #B0907A;
    font-style: italic;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 20px 0px 40px 0px;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.container {
    display: flex;
    padding: 0px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.header-menu {
    display: flex;
    max-width: 1360px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.header-menu hr {
    width: 1px;
    height: 2px;
    background: #403F3D;
    width: 0;
    transition: 0.3s;
}

.logo {
    width: 100px;
    height: 60px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;

}

nav li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

nav li:hover hr {
    width: 100%;
}

nav a {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: #403F3D;
}

nav a:visited {
    color: #403F3D;
}

.coffee-menu a {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    transition: 0.3s;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
    color: #403F3D
}

.coffee-menu a:visited {
    color: #403F3D;
}

.coffee-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}

.coffee-menu hr {
    width: 100%;
}

.menu {
    display: flex;
    padding: 0px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
    width: 800px;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.but_tabs {
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    background: none;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
    transition: 0.5s;
   cursor: pointer;
}

.but_tabs p {
    color: #403F3D;
}

.but_tabs:hover p {
    color: #E1D4C9;
}

.but_tabs:hover {
    background: #665F55;
}

.icon_tabs {
    display: flex;
    padding: 6px 6px;
    justify-content: center;
    align-items: center;
    background: #C1B6AD;
    border-radius: 100px;
}

.active_icon {
    background: #E1D4C9;
}

.active {
    color: #E1D4C9;
    background: #665F55;
    pointer-events: none;
}

.active p {
    color: #E1D4C9;
}

.grid{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
}
.grid_tea {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.grid_item {
    display: flex;
    height: 506px;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    border: 1px solid #C1B6AD;
    overflow: hidden;

}

.grid_img {
    width: 310px;
    height: 310px;
    border-radius: 40px;
    overflow: hidden;
}

.grid_item img {
    transition: 0.3s;
    scale: 110%;
    flex-shrink: 0;
    transition: 0.3s;
}

.grid_item:hover img {
    scale: 100%;
    cursor: pointer;
}

.desc {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    width: 100%;
    max-width: 310px;
}

h3 {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 30px */
    color: #403F3D;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.title p {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #403F3D;
}

.desc span {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    color: #403F3D;
    line-height: 125%;
}

footer {
    padding: 0 40px;
}

.footer_container {
    border-radius: 40px;
    background: #665F55;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
    gap: 100px;
}

.footer_offer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.socials {
    display: flex;
    gap: 12px;
}

.socials button {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #C1B6AD;
    background: none;
    transition: 0.5s;
}

.socials svg {
    stroke: #E1D4C9;
}

.socials button:hover {
    background: var(--background-body, #E1D4C9);
}

.socials button:hover svg {

    stroke: #403F3D;
}


.contacts-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 34px;
}

.contacts-info h4 {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 30px */
    color: #E1D4C9;
    width: 100%;
}


.contacts-info a {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: #E1D4C9;
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 19px;
}

.contact {
    display: flex;
    flex-direction: column;
}

.non_active {
    pointer-events: none;
}

.contact hr {
    width: 0;
    height: 2px;
    background: #E1D4C9;
    transition: 0.3s;
}

.contact:hover hr {
    width: 100%;
}

.button_update {
    display: none;
}

.non_visible {
    display: block;
}

.modal_wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    z-index: 10;
    justify-content: center;
    align-items: center;
    background-color: rgba(43, 34, 34, .5);
}

.modal {
    display: flex;
    width: 800px;
    padding: 16px;
    align-items: flex-start;
    padding: 16px;
    border-radius: 40px;
    background: var(--background-body, #E1D4C9);
    border: 1px solid #665F55;
    z-index: 11;

}

.modal_active {
    display: flex;
}

body.lock {
    overflow: hidden;
}

.modal img {
    border-radius: 40px;
}

.modal_desc {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
}


.title_modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.title_modal p {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Body/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.size {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.size p {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Body/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.modal_tabs {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 8px;
    align-self: stretch;
    flex-wrap: wrap;
}

.but_size {
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: none;
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
}

.but_size p {
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
    display: flex;
    padding: 3px 9px 3px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--border-light, #C1B6AD);
}

#but_size_2 p {
    padding: 3px 7px 3px 8px;
}

#but_size_3 p {
    padding: 3px 10px;
}

.but_size span {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

.additives {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.additives p {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Desktop/Body/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.additives_tabs {
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
}

.additives_tabs p {
    display: flex;
    width: 30px;
    padding: 3px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--border-light, #C1B6AD);
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

.additives_tabs span {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    align-self: stretch;
}

.total p {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-3 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    /* 30px */
}

.alert {
    display: flex;
    padding: 12px 0px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-top: 1px solid var(--border-light, #C1B6AD);
}

.alert p {
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Body/caption */
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 14px */
}

.btn_modal {
    display: flex;
    padding: 10px 78px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665F55);
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
    background: none;
}

.btn_modal:hover {
    background: #665F55;
    color: #E1D4C9;
}

.active_but_size {

    background: var(--background-container, #665F55);


}

.active_but_size p {

    background: var(--background-body, #E1D4C9);
}

.active_but_size span {
    color: var(--text-light, #E1D4C9);
}

.burger {
    display: none;
}

.burger_wrapper {
    display: none;
}

@media (max-width: 768px) {
    header {
        transition: 0.3s;
        position: relative;
        overflow: hidden;
    }

    .header_active {
        height: 1024px;
    }

    body.lock {
        overflow: hidden;
    }

    .non_visible {
        display: none;
    }

    .burger_button {
        display: flex;
        width: 44px;
        height: 44px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: 1px solid var(--border-dark, #665F55);
        background: none;
    }

    .burger_menu {
        display: block;
        width: 18px;
        height: 10px;
        position: relative;
        transition: 1s;
        margin: auto 20px;

    }

    .burger_menu::after,
    .burger_menu::before {
        content: '';
        height: 2px;
        width: 100%;
        background-color: #403F3D;
        position: absolute;
        transition: .3s;
        left: 0;
    }

    .burger_menu::before {
        top: 0;
    }

    .burger_menu::after {
        bottom: 0;
    }

    .burger_menu.burger_active::after {
        transform: rotate(45deg);
        top: 50%;
    }

    .burger_menu.burger_active::before {
        top: 50%;
        transform: rotate(-45deg);
    }

    .burger {
        display: flex;
    }

    .nav {
        display: none;
    }

    nav a {
        color: var(--text-dark, #403F3D);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;

        /* Desktop/Action/burger-link */
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
        /* 40px */
    }

    nav ul {
        gap: 60px;
    }

    .burger_wrapper {
        display: flex;
        visibility: hidden;
        position: absolute;
        top: 80px;
        background: #E1D4C9;
        width: 100%;
        height: 1024px;
        z-index: 10;
        overflow: hidden;
        opacity: 0;
        transition: 0.3s;
        right: -708px;
    }

    .active_burger {
        visibility: visible;
        right: 0px;

        opacity: 1;
    }

    .burger_nav {
        display: flex;


        background: #E1D4C9;
        width: 100%;
        max-height: 600px;
        height: 100%;
        padding: 60px 40px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 100px;
        flex: 1 0 0;
    }

    .coffee-menu a {
        color: var(--text-dark, #403F3D);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;

        /* Desktop/Action/burger-link */
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
        /* 40px */
    }

    nav ul {
        flex-direction: column;
        justify-content: flex-start;
    }

    .coffee-menu_none {
        display: none;
    }

    .offer {
        width: 100%;
    }

    .but_tabs:hover {
        background: none;
    }

    .but_tabs:active {
        background: #665F55;
    }

    .but_tabs:hover p {
        color: #403F3D;
    }

    .but_tabs:active p {
        color: #E1D4C9;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .button_update {
        display: flex;
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        border: 1px solid var(--border-dark, #665F55);
        background: none;
    }

    .footer_container {
        grid-template-columns: auto;
        padding: 100px 60px;
    }

    .contacts {
        gap: 22px;
    }

    .socials button:hover {
        background: none;

    }

    .socials button:hover svg {
        stroke: #E1D4C9;
    }

    .socials button:active svg {
        stroke: #403F3D;
    }

    .socials button:active {
        background: var(--background-body, #E1D4C9);

    }

    .modal {
        width: 656px;
    }

    .btn_modal:hover {
        background: none;
        color: #403F3D;
    }

    .btn_modal:active {
        background: #665F55;
        color: #E1D4C9;
    }
}

@media (max-width: 380px) {
    .container {
        padding: 0px 16px;

    }

    h1 {
        font-size: 32px;
        line-height: 125%
    }

    .menu {
        padding: 0px 16px;

    }

    span {
        font-size: 32px;
        line-height: 125%;

    }

    h2 {
        line-height: 125%;
        font-size: 32px;
    }

    .tabs {
        gap: 8px;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    footer {
        padding: 0px 16px;

    }

    .footer_container {
        padding: 60px 16px;
        gap: 40px;
    }

    .modal {
        width: 100%;
        border: 1px solid #665F55;
    }

    .modal img {
        display: none;
    }

}